.heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.heading h4{
    margin: 5px;
    padding: 5px;
}

.heading-icon{
    width: 50px;
    height: 50px;
}